In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
df = pd.read_csv('Data/ListaCobroDetalle2025.csv')

In [6]:
# Ordenamos por idCredito y luego contamos la cantidad de valores que tiene en la columna idRespuestaBanco con valor 0
df = df.sort_values(by=['idCredito'])
df['count'] = df.groupby('idCredito')['idRespuestaBanco'].transform(lambda x: (x == 0).sum())

In [17]:
counted = df[['idCredito', 'count']].drop_duplicates()
counted = counted.sort_values(by=['count'])

print(counted)
# Cuenta cuantos valores tienen una columna con valor count mayor a 1
counted = counted[counted['count'] > 1]
print(counted)

         idCredito  count
27854         9872      0
1709573     693631      0
1085182     693635      0
254474      693643      0
575559      693644      0
...            ...    ...
591956      693795     31
854739      683393     31
737045      651081     33
49617       711062     37
1461495     683816     39

[28602 rows x 2 columns]
         idCredito  count
1046301     645398      2
1122302     737985      2
207658      523492      2
1740876     680198      2
1798338     688815      2
...            ...    ...
591956      693795     31
854739      683393     31
737045      651081     33
49617       711062     37
1461495     683816     39

[10288 rows x 2 columns]