In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
df = pd.read_csv('Data/ListaCobroDetalle2023.csv')
print (df.shape)
df.head()

(1681362, 9)

C:\Users\Felip\AppData\Local\Temp\ipykernel_34648\3329370504.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data/ListaCobroDetalle2023.csv')

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco
0,110554,66843,30347299,14,548.30,548.30,0.0,NaN,04
1,110554,489688,30347298,14,876.61,876.61,0.0,NaN,04
2,110554,498868,30347295,14,805.02,805.02,0.0,NaN,04
3,110554,508346,30347296,14,885.29,885.29,0.0,NaN,04
4,110554,525392,30347300,14,6863.71,6863.71,0.0,NaN,04

In [9]:
df_selected = df[['idListaCobro', 'idCredito', 'consecutivoCobro', 'idBanco', 'montoExigible', 'montoCobrar', 'montoCobrado', 'fechaCobroBanco', 'idRespuestaBanco']]
df_selected = df_selected.astype({
    'idListaCobro': 'int64',
    'idCredito': 'int64',
    'consecutivoCobro': 'int64',
    'idBanco': 'int64',
    'montoExigible': 'float64',
    'montoCobrar': 'float64',
    'montoCobrado': 'float64',
})
df_selected['fechaCobroBanco'] = pd.to_datetime(df_selected['fechaCobroBanco'], errors='coerce')
df_selected.head()

C:\Users\Felip\AppData\Local\Temp\ipykernel_34648\1602150959.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_selected['fechaCobroBanco'] = pd.to_datetime(df_selected['fechaCobroBanco'], errors='coerce')

,idListaCobro,idCredito,consecutivoCobro,idBanco,montoExigible,montoCobrar,montoCobrado,fechaCobroBanco,idRespuestaBanco
0,110554,66843,30347299,14,548.30,548.30,0.0,NaT,04
1,110554,489688,30347298,14,876.61,876.61,0.0,NaT,04
2,110554,498868,30347295,14,805.02,805.02,0.0,NaT,04
3,110554,508346,30347296,14,885.29,885.29,0.0,NaT,04
4,110554,525392,30347300,14,6863.71,6863.71,0.0,NaT,04

In [10]:
df_grouped = df_selected.sort_values('fechaCobroBanco').groupby('idCredito')
print(df_grouped.size())
print(df_grouped.size().max())
print(df_grouped.size().min())

idCredito
6           1
4635       12
4914       12
8947       12
9872      402
         ...
689569      1
689582      1
689593      1
689607      1
689904      4
Length: 41572, dtype: int64
714
1

In [11]:
# Imprimeme cuantas ids hay y cuantas son unicas
print(df_grouped.size().count())

41572

In [12]:
# Ahora imprime las variables y sus tipos
print(df_selected.dtypes)

idListaCobro                 int64
idCredito                    int64
consecutivoCobro             int64
idBanco                      int64
montoExigible              float64
montoCobrar                float64
montoCobrado               float64
fechaCobroBanco     datetime64[ns]
idRespuestaBanco            object
dtype: object

In [13]:
# Transformar variables adecuadas a tipo categórico
categorical_columns = ['idBanco']
df_selected[categorical_columns] = df_selected[categorical_columns].astype('category')
df_selected.dtypes

idListaCobro                 int64
idCredito                    int64
consecutivoCobro             int64
idBanco                   category
montoExigible              float64
montoCobrar                float64
montoCobrado               float64
fechaCobroBanco     datetime64[ns]
idRespuestaBanco            object
dtype: object

In [14]:
# aplica dummies a las variables categóricas y pasalos a 01
df_dummies = pd.get_dummies(df_selected, columns=categorical_columns)
# Todos los bools pasan a 0 y 1, checa todas las variables bool a int8
df_dummies = df_dummies.astype({col: np.int8 for col in df_dummies.select_dtypes(include=[bool]).columns})

In [15]:
print(df_dummies.dtypes)

idListaCobro                 int64
idCredito                    int64
consecutivoCobro             int64
montoExigible              float64
montoCobrar                float64
montoCobrado               float64
fechaCobroBanco     datetime64[ns]
idRespuestaBanco            object
idBanco_2                     int8
idBanco_12                    int8
idBanco_14                    int8
idBanco_21                    int8
idBanco_30                    int8
idBanco_36                    int8
idBanco_44                    int8
idBanco_58                    int8
idBanco_62                    int8
idBanco_72                    int8
idBanco_127                   int8
idBanco_131                   int8
idBanco_137                   int8
idBanco_166                   int8
dtype: object

In [11]:
# Guarda la version limpia como Data/CleanedData.csv
df_dummies.to_csv('Data/CleanedData2023.csv', index=False)